# Django Settings
DEBUG=True
SECRET_KEY=your-secret-key-here

# Database Settings
DB_NAME=leads_db
DB_USER=leads_user
DB_PASSWORD=leads_password
DB_HOST=challenge_db
DB_PORT=5432

# N8N Settings (Local Docker)
N8N_WEBHOOK_URL=http://challenge_n8n:5678/webhook/lead-received
N8N_USER=admin
N8N_PASSWORD=admin123

